@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /*outline: 1px dotted red;*/
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  padding: 20px;
}

ul {
  display: flex;
  gap: 20px;
}

h2 {
  font-weight: 600;
}

.hero {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #e5e7eb;
}

footer {
  padding: 1rem;
  text-align: center;
  color: #555;
}